header{
	font-family: impact;
}

h1{
	display: flex;
	font-family: impact;
	justify-content: center;
	font-size: 45px;
}


img{
	height:190px;
	width:266px;
}
/*the line-height keeps the text centered in the box*/
p{
	height:190px;
	width:266px;
	background-color: black;
	color: white;
	font-family: impact;
	text-align: center;
	font-size: 18px;
	line-height: 190px;
}

main{
	display: flex;
	padding-right:150px;
	padding-left:150px;
	font-family: impact;
	text-align: center;
	font-size: 24px;
	justify-content: center;
}

.container{
	display:flex;
	justify-content: center;
}

.shoecollection{
	flex-basis:0;
	height:640px;
	width:799px;
	padding-bottom:60px;
}



/*Set the max width of 800px so that as the screen gets smaller the screen changes*/
@media all and (max-width: 800px) {
	/*the justify content space around take them
	from the right to space around the items in 
	the header and the footer*/
	.navigation {
		justify-content: space-around;
	}
	.footer {
			justify-content: space-around;
		}
	/*The header sentence puts it in the center still*/
	h1{
		text-align: center;
		justify-content: center;
	}
}
/*Set the max width of 600px so that as the screen gets smaller the screen changes*/
@media all and (max-width: 600px) {
	/*The flex allows the the items in the footer and
	the header to become colums wraped and they become
	sperated by a line*/
	.navigation {
		-webkit-flex-flow: column wrap;
		flex-flow: column wrap;
		padding: 0;
	}
	
	.navigation a { 
		text-align: center; 
		padding: 10px;
		border-top: 1px solid rgba(255,255,255,0.3); 
		border-bottom: 1px solid rgba(0,0,0,0.1); 
	}

	
	.navigation li:last-of-type a {
		border-bottom: none;
	}
	
	.footer {
			-webkit-flex-flow: column wrap;
			flex-flow: column wrap;
			padding: 0;
		}
		
	.footer a { 
			text-align: center; 
			padding: 10px;
			border-top: 1px solid rgba(255,255,255,0.3); 
			border-bottom: 1px solid rgba(0,0,0,0.1); 
		}

		
	.footer li:last-of-type a {
			border-bottom: none;
		}

	
	h1{
		text-align: center;
		justify-content: center;
	}
}