header{
	font-family: impact;
}

h1{
	display: flex;
	font-family: impact;
	justify-content: center;
	font-size: 45px;
}


img{
	height:190px;
	width:266px;
}
/*the line-height keeps the text centered in the box*/
p{
	height:190px;
	width:266px;
	background-color: black;
	color: white;
	font-family: impact;
	text-align: center;
	font-size: 18px;
	line-height: 190px;
}

main{
	display: flex;
	padding-right:150px;
	padding-left:150px;
	font-family: impact;
	text-align: center;
	font-size: 24px;
	justify-content: center;
}

.container{
	display:flex;
	justify-content: center;
}

.shoecollection{
	flex-basis:0;
	height:640px;
	width:799px;
	padding-bottom:60px;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}

/* Full-width input fields */
input[type=text], input[type=password] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
	background-color: #ddd;
	outline: none;
}

hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}

button:hover {
	opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
	padding: 14px 20px;
	background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
	float: left;
	width: 50%;
}

/* Add padding to container elements */
.container {
	padding: 16px;
}

/* Clear floats */
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
	.cancelbtn, .signupbtn {
		 width: 100%;
	}
}

/*Set the max width of 800px so that as the screen gets smaller the screen changes*/
@media all and (max-width: 800px) {
	/*the justify content space around take them
	from the right to space around the items in 
	the header and the footer*/
	.navigation {
		justify-content: space-around;
	}
	.footer {
			justify-content: space-around;
		}
	/*The header sentence puts it in the center still*/
	h1{
		text-align: center;
		justify-content: center;
	}
}
/*Set the max width of 600px so that as the screen gets smaller the screen changes*/
@media all and (max-width: 600px) {
	/*The flex allows the the items in the footer and
	the header to become colums wraped and they become
	sperated by a line*/
	.navigation {
		-webkit-flex-flow: column wrap;
		flex-flow: column wrap;
		padding: 0;
	}
	
	.navigation a { 
		text-align: center; 
		padding: 10px;
		border-top: 1px solid rgba(255,255,255,0.3); 
		border-bottom: 1px solid rgba(0,0,0,0.1); 
	}

	
	.navigation li:last-of-type a {
		border-bottom: none;
	}
	
	.footer {
			-webkit-flex-flow: column wrap;
			flex-flow: column wrap;
			padding: 0;
		}
		
	.footer a { 
			text-align: center; 
			padding: 10px;
			border-top: 1px solid rgba(255,255,255,0.3); 
			border-bottom: 1px solid rgba(0,0,0,0.1); 
		}

		
	.footer li:last-of-type a {
			border-bottom: none;
		}

	
	h1{
		text-align: center;
		justify-content: center;
	}
}