#right_side {
  float: left;
  width: 250px;
  padding: 15px;
  background-color: #333;
  border-radius: 10px;
  margin-top: 50px;
}

#right_side p {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 15px;
  font-style: normal;
}

#right_side blockquote {
  font-family: Georgia, serif;
  font-size: 14px;
  font-style: italic;
}

footer#quote {
  font-family: Tahoma, serif;
  font-size: 10px;
  font-style: normal;
}

h2#author {
  background-color: MediumTurquoise;
  text-align: center;
  margin-top: 10px;
  color: #333;
}

img#author {
  border-radius: 5px;
  display: block;
  margin: 10px auto;
  width: 200px;
  height: 200px;
}

img#author:hover {
  opacity: 0.7;
}

blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}

#right_side a:hover {
  color: MediumTurquoise;
}


/*  override style for #content  */

#content {
  float: left;
}

@media screen and (max-width: 1000px) {
  #content,
  #right_side {
    float: none;
    margin: auto;
  }
  footer#page {
    margin: 10px auto;
  }
}


/* using document style for .animation*/

#animation {
  width: 200px;
  height: 100px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.ball {
  width: 10px;
  height: 10px;
  margin: 10px auto;
  border-radius: 50px;
}

